{% if docker_deluge_traefik %}
networks:
  {{ docker_deluge_traefik_network_name }}:
    external: true
{% endif %}

services:
  {{ docker_deluge_service_name }}:
    image: linuxserver/deluge
{% if docker_deluge_service_name %}
    container_name: {{ docker_deluge_service_name }}
{% endif %}
{% if docker_deluge_traefik %}
    networks:
      - {{ traefik_network_name }}
{% endif %}
    volumes:
      - {{ docker_deluge_config }}:/config
      - {{ docker_deluge_torrent_path }}:/torrent
    ports:
{% if docker_deluge_portmaping %}
      - 8112:8112 # web via traefik
{% endif %}
{% if docker_deluge_api_portmaping %}
      - {{ docker_deluge_api_port }}:58846 # API disabled
{% endif %}
      - {{ docker_deluge_torrent_port }}:58946 # torrent
      - {{ docker_deluge_torrent_port }}:58946/udp # torrent
    environment:
      - PUID={{ docker_deluge_uid }}
      - PGID={{ docker_deluge_gid }}
      - TZ=Europe/Paris
      - UMASK_SET=002 # optional
      - DELUGE_LOGLEVEL={{ docker_deluge_loglevel }} # optional
    restart: "always"
{% if docker_deluge_traefik %}
    labels:
      - traefik.enable=true
      - traefik.http.services.{{ docker_deluge_service_name }}-web.loadbalancer.server.port=8112
      - traefik.http.routers.{{ docker_deluge_service_name }}-web.entrypoints=websecure
      - traefik.http.routers.{{ docker_deluge_service_name }}-web.tls.certresolver=le
      - "traefik.http.routers.{{ docker_deluge_service_name }}-web.rule=Host(`{{ docker_deluge_traefik_domain }}`)"
{% endif %}